/* Primary text color #000000 */

/* Secondary color rgba(0,0,0,0.8) */

/* Wrapper White #ffffff */

/* Actionable item #18A0FB */

/* Secondary body color #F5F5F5*/

:root{
    --primary-text-color: rgba(0,0,0,0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
    --primary-white-color: #ffffff;
    --secondary-white-color: #F5F5F5;

}
.page-body{
 background-color: var(--primary-white-color);
 color: var(--primary-text-color);
}
.logo{
    color: var(--accent-color);
}
.logo.current{
    color: var(--title-text-color);
}
/* Site nav */
.site-nav .link{
    text-decoration: none;
    color: var(--accent-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--title-text-color);     
}
.site-nav .link.current{
    color: var(--title-text-color);
}
/* Button */
.button{
    color: var(--title-text-color);
    background-color: var(--primary-white-color);

    font-size: 24px;
    padding: 12px 24px;
    display: inline-block;
    border: 1px solid black;
}
.button-primary{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
}
.button-secondary{
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    border-color: var(--accent-color);
}